* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  background-color: black; }

.el-footer {
  overflow: hidden; }
  .el-footer img {
    height: 90px;
    margin-top: -10px;
    float: right; }

.el-header, .el-footer {
  background-color: white;
  color: #333;
  line-height: 60px; }

.el-aside, .el-main {
  overflow: none; }

.el-aside {
  color: #333; }

.el-main {
  color: #333;
  text-align: none;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  color: red; }

a:hover, a:focus {
  text-decoration: none; }

a:hover span, a:focus span {
  color: red; }

#NavWeb > .el-container > .el-aside {
  line-height: 260px; }

#NavWeb > .el-container > .el-header {
  position: relative; }
  #NavWeb > .el-container > .el-header > div {
    height: 100%;
    display: flex;
    justify-content: space-between; }
    #NavWeb > .el-container > .el-header > div img {
      height: 90px;
      margin-top: -10px; }
    #NavWeb > .el-container > .el-header > div > div {
      display: flex;
      align-items: flex-end; }
      #NavWeb > .el-container > .el-header > div > div a {
        height: 30px;
        line-height: 30px; }

#NavWeb > .el-container > .el-main {
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px; }
  #NavWeb > .el-container > .el-main a:hover {
    color: red; }
  #NavWeb > .el-container > .el-main a:hover, #NavWeb > .el-container > .el-main a:focus {
    text-decoration: none; }
  #NavWeb > .el-container > .el-main a:hover *, #NavWeb > .el-container > .el-main a:focus * {
    color: red; }
  #NavWeb > .el-container > .el-main .hotSpor {
    position: relative;
    margin-bottom: 35px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3); }
    #NavWeb > .el-container > .el-main .hotSpor > img {
      width: 100%; }
    #NavWeb > .el-container > .el-main .hotSpor > ul {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 35%;
      height: calc(100% - 3.5px);
      background-color: rgba(0, 0, 0, 0.3); }
      #NavWeb > .el-container > .el-main .hotSpor > ul li {
        height: calc(100% / 11);
        border-bottom: 1px transparent solid;
        border-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), white) 1 10;
        text-indent: 30px; }
        #NavWeb > .el-container > .el-main .hotSpor > ul li a {
          display: block;
          color: white;
          overflow: hidden;
          height: 100%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          align-items: center;
          transition: .6s ease; }
          #NavWeb > .el-container > .el-main .hotSpor > ul li a:hover {
            background-color: rgba(0, 0, 0, 0.3);
            transition: .6s ease; }
          #NavWeb > .el-container > .el-main .hotSpor > ul li a:last-child {
            border-bottom: none; }
          #NavWeb > .el-container > .el-main .hotSpor > ul li a span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle; }

article, aside {
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3); }

.contentBox section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.contentBox section > div {
  width: 70%;
  flex-grow: 1; }

.contentBox section > div article {
  width: 100%;
  padding: 15px 35px;
  margin-bottom: 20px;
  /* background-color: white; */
  background-color: rgba(107, 105, 105, 0.3); }
  .contentBox section > div article img ~ span {
    margin-left: 5px; }

.contentBox section > div article:last-child {
  padding-top: 15px;
  margin-bottom: 0; }
  .contentBox section > div article:last-child h2 {
    color: white;
    margin-top: 0; }

.contentBox section > div article:last-child div span {
  line-height: 45px;
  color: white; }

.contentBox section > div > article > div:nth-of-type(1) {
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  color: white; }

.contentBox section > div article div img {
  height: 90%;
  vertical-align: middle; }

.contentBox section > div article div span {
  vertical-align: middle; }

.contentBox section > div article table {
  width: 100%;
  margin-top: 15px; }

.contentBox section > div article table tr {
  width: 100%;
  height: 35px; }

.contentBox section > div article table tr td {
  width: calc(100% / 5);
  color: white; }
  .contentBox section > div article table tr td span {
    color: white; }

.contentBox section > div article:first-child table tr:nth-of-type(1) td:nth-of-type(1) a img {
  width: 70%; }

.contentBox section > div article:first-child table tr:nth-of-type(1) td a img {
  width: 90%; }

.contentBox section > div article:first-child table tr:nth-of-type(1) td:nth-of-type(3) a img {
  width: 75%; }

.contentBox section > div article:nth-of-type(1) table tr:nth-of-type(n + 2) td a img {
  width: 15px;
  height: 13px; }

.contentBox section > div article:nth-of-type(n + 2) table tr td a img {
  width: 15px;
  height: 13px; }

.contentBox section aside {
  flex-grow: 1;
  margin-left: 20px;
  padding-top: 24px;
  /* background-color: white; */
  background-color: rgba(107, 105, 105, 0.3); }
  .contentBox section aside img ~ span {
    margin-left: 5px; }

.contentBox section aside div > span {
  font-size: 18px;
  margin-left: 25px;
  font-weight: 600;
  vertical-align: middle;
  /* color: rgba(19,44,131,1);   */
  color: white; }

.contentBox section aside div ul {
  margin-top: 10px;
  padding: 25px 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.3); }

.contentBox section aside div ul li {
  height: 40px;
  vertical-align: middle; }

.contentBox section aside div ul li a img {
  width: 15px;
  height: 18px; }

.contentBox section aside div ul li a img, section aside div ul li a span {
  vertical-align: middle;
  color: white; }

.arrow-left {
  display: inline-block;
  border: 5px solid;
  border-color: transparent;
  /* border-left-color: black; */
  border-left-color: white; }

.ExpertSection {
  height: 100%;
  border: none; }

.ExpertSection > div > ul {
  padding: 20px 0; }

.ExpertSection > ul > li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 30px 0;
  max-height: 500px;
  overflow: hidden; }

.ExpertSection ul li a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center; }

.ExpertSection ul li a div:nth-of-type(1) {
  width: 300px;
  height: 200px;
  margin-right: 20px; }

.ExpertSection ul li a div:nth-of-type(1) img {
  width: 300px;
  height: 200px; }

.ExpertSection > ul > li div {
  border-bottom: none;
  height: 100%;
  margin-left: 15px; }

.ExpertSection > ul > li > a div:nth-of-type(2) span {
  line-height: 20px; }

.ExpertSection > ul > li img {
  height: 200px;
  border-radius: 30px; }

/*# sourceMappingURL=index.css.map */
